<!-- Compare Times Page -->

<html>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <head>
  </head>

<!-- PUlled from an example from Bootstrap Website: https://getbootstrap.com/docs/4.0/components/navbar/ -->

  <body class = "body">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/login">Log In<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Choose what to do!
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/logrun">Log Your Run</a>
              <a class="dropdown-item" href="/workouts">View Your Workouts</a>
              <a class="dropdown-item" href="/comparetime">Compare Your Times</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/changepass">Change Your Password</a>
            </div>
          </li>
<!--           <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li> -->
        </ul>
      </div>
    </nav>






    <!-- Welcome Page! -->


  <div class="jumbotron">
      <h1 class="display-4">Compare Your Time!</h1>
      <p class="lead">Choose which time you would like to compare and see where it stacks up!</p>
      <hr class="my-4">
      <p>Follow the directions below!</p>
      <p class="lead">
      <div class="btn-group">
        <button class="btn btn-info btn-lg" type="button">
          Toggle Which Time to Compare!
        </button>
        <button type="button" class="btn btn-lg btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only"></span>
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Compare Your Best Time</a>
          <a class="dropdown-item" href="#">Compare Your Slowest Time</a>
          <a class="dropdown-item" href="#">Enter a Time Manually</a>
        </div>
      </div>
      </p>
    </div>

    <div class="container">
      <h1> Your Time is: </h1>
      <h2> Distance: 1.00 miles</h2>
      <h2> Time: 8min, 8s</h2>
      <h2> Pace: 7.3 mi/hr</h2>
    </div>

    <h1> Table (scraped from Wikipedia)</h1>
   <table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Entry No.</th>
      <th scope="col">Name of Runner</th>
      <th scope="col">Run Distance</th>
      <th scope="col">Run Time</th>
      <th scope="col">Pace</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Steve M</td>
      <td>13.11 miles</td>
      <td>59 min</td>
      <td>13.25 mi/hr</td>
    </tr>
      <th scope="row">2</th>
      <td>Mark T</td>
      <td>4 miles</td>
      <td>16min 42s</td>
      <td>13 mi/hr</td>
      
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>26.22 miles </td>
      <td>2hr 18min</td>
      <td>12.5 mi/hr</td>
    </tr>
  </tbody>
</table>








    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>