<!-- Log Run Page -->

<html>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <head>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
  
  </head>

<!-- PUlled from an example from Bootstrap Website: https://getbootstrap.com/docs/4.0/components/navbar/ -->

  <body class = "body">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/homepage">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Choose what to do!
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/logrun">Log Your Run</a>
              <a class="dropdown-item" href="/workouts">View Your Workouts</a>
              <a class="dropdown-item" href="/comparetime">Compare Your Times</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/changepass">Change Your Password</a>
            </div>
          </li>
<!--           <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li> -->
        </ul>
      </div>
    </nav>







    <!-- Welcome Page! -->




  {%block title %} Log Run {% endblock %}
      {%block content %}

   
        <div class="container">
            <h2>Time</h2>
            <span class = "timer" id="timer"> 0s </span>
            <progress 
              max = "1000" 
              value = "0" 
              class = "progress progress--rest" 
              id="progressBar"
              style="width: 80%;"
            ></progress>
        </div>

        <div class="container">
            <h2>Distance</h2>
            <span class = "timer" id="timer2"> 0 miles</span>
            <progress 
              max = "10" 
              value = "0" 
              class = "progress progress--rest" 
              id="progressBar2"
              style="width: 80%;"
            ></progress>
        </div>

      



<script>
    function loadXMLDoc()
    {
        var req = new XMLHttpRequest()
        req.onreadystatechange = function()
        {
            if (req.readyState == 4)
            {
                if (req.status != 200)
                {
                    //error handling code here
                }
                else
                {
                    var response = JSON.parse(req.responseText)
                    document.getElementById('lat').innerHTML = response.lat
                    document.getElementById('long').innerHTML = response.long
                }
            }
        }
    
        req.open('POST', '/ajax')
        req.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
        var un = document.getElementById('scname').value
        var sec = document.getElementById('secret').value
        var postVars = 'username='+un+'&secret='+sec
        req.send(postVars)
        
        return false
    }
</script>



<div class="container">
   <h3>Your Latitude is: </h3>
   <span id="lat"> 0 </span>
   <h3>Your Longitutde is: </h3>
   <span id ="long"> 0 </span>
</div>

{% endblock %}

<br/>

<div class="container">

  <form action="/workouts" METHOD = "POST">
      <input type = "text" placeholder="Time" name="time">
      <input type = "text" placeholder="Distance" name="distance">
      <input type = "submit" value = "Log Run" class= "btn btn-secondary">

    </form>
  </div>

  <div class="container">
    <form action="" method="POST">
    <input type="hidden" name="scname" id="scname">
    <input type="hidden" name="secret" id="secret" value="shhh">
    <input type="button" value="Start Run!" class="btn btn-success btn-block active" data-toggle="button" aria-pressed="false" autocomplete="off" onclick="startRun();return loadXMLDoc()">
    </form>
  </div>

  <div class="container">
    <button id="endrun" class="btn btn-danger btn-block active" data-toggle="button" aria-pressed="false" autocomplete="off" onclick="endRun()">End Run!</button>
  </div>







  <script type="application/javascript">
    let startflag = 0;
    let lastlatt = 0;
    let lastlongg = 0;
    const timerElement = document.getElementById("timer");
    const distanceElement = document.getElementById("timer2");
    const progressBar = document.getElementById("progressBar");
    const progressBar2 = document.getElementById("progressBar2");

    if (startflag == 0) {
      
    } else {
      let lastlatt = latt;
      let lastlongg = longg;
    }

    const latt = parseFloat(document.getElementById("lat").innerHTML);
    const longg = parseFloat(document.getElementById("long").innerHTML);


    let timerCounter = 0;
    let distanceCounter = 0.0;

    let flag = 0;

    

    function startRun() {
      const interval = setInterval(function() {
      if (timerCounter >= 1000) {
        clearInterval(interval);
      }
      startflag = 1;
      timerCounter = timerCounter + 1;
      distanceCounter = distanceCounter + Math.sqrt(latt*latt + longg*longg) - Math.sqrt(lastlatt*lastlatt + lastlongg*lastlongg);
      timerElement.innerText = timerCounter + "s";
      distanceElement.innerText = distanceCounter + " miles"
      progressBar.value = timerCounter;
      progressBar2.value = distanceCounter;

      }, 1000);
    }
  
    function endRun() {
      flag = 1;
      timerCounter = 1000;
      timerElement.innerText = "0s";
      distanceElement.innerText = "0 miles"
      progressBar.value = 0;
      progressBar2.value = 0;
    }

    

    

  </script>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>